In [1]:
pip install nasdaq-data-link

Collecting nasdaq-data-link
  Downloading Nasdaq_Data_Link-1.0.1-py2.py3-none-any.whl (27 kB)
Collecting more-itertools
  Downloading more_itertools-8.12.0-py3-none-any.whl (54 kB)
Requirement already satisfied: pandas>=0.14 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from nasdaq-data-link) (1.1.3)
Requirement already satisfied: six in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from nasdaq-data-link) (1.15.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from nasdaq-data-link) (2.24.0)
Requirement already satisfied: python-dateutil in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from nasdaq-data-link) (2.8.1)
Requirement already satisfied: numpy>=1.8 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from nasdaq-data-link) (1.21.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from pandas>=0.14->nasdaq-data-link) (2020.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tonym\anaconda3\envs\learn-env\lib\site-packages (from requests>=2.7.0->nasdaq-data-link) (2020.6.20)
Installing collected packages: more-itertools, inflection, nasdaq-data-link
Successfully installed inflection-0.5.1 more-itertools-8.12.0 nasdaq-data-link-1.0.1
Note: you may need to restart the kernel to use updated packages.

Imports

In [1]:
import nasdaqdatalink as q

In [37]:
import pandas as pd

In [3]:
# set api key 
q.ApiConfig.api_key = "<LV6haxobUdVP66_LY6yz>"

In [11]:
# send request to get apples end of day stock prices from jan 1st 2010 to jan 1st 2020 
# apple_data = q.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'close'] }, ticker = ['AAPL'], date = { 'gte': '2010-01-01', 'lte': '2020-01-01' })

In [30]:
ap_data = q.get_table('WIKI/PRICES', ticker = ['AAPL'], date = { 'gte': '2010-01-01', 'lte': '2018-01-01'})

In [32]:
ap_data.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,AAPL,2017-12-29,170.52,170.590,169.220,169.23,25643711.0,0.0,1.0,170.52,170.590,169.220,169.23,25643711.0
1,AAPL,2017-12-28,171.00,171.850,170.480,171.08,15997739.0,0.0,1.0,171.00,171.850,170.480,171.08,15997739.0
2,AAPL,2017-12-27,170.10,170.780,169.710,170.60,21672062.0,0.0,1.0,170.10,170.780,169.710,170.60,21672062.0
3,AAPL,2017-12-26,170.80,171.470,169.679,170.57,32968167.0,0.0,1.0,170.80,171.470,169.679,170.57,32968167.0
4,AAPL,2017-12-22,174.68,175.424,174.500,175.01,16052615.0,0.0,1.0,174.68,175.424,174.500,175.01,16052615.0

In [33]:
ap_data.tail()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
2006,AAPL,2010-01-08,210.30,212.00,209.06,211.98,15986100.0,0.0,1.0,27.026481,27.244955,26.867124,27.242385,111902700.0
2007,AAPL,2010-01-07,211.75,212.00,209.05,210.58,17040400.0,0.0,1.0,27.212826,27.244955,26.865839,27.062465,119282800.0
2008,AAPL,2010-01-06,214.38,215.23,210.75,210.97,19720000.0,0.0,1.0,27.550818,27.660055,27.084312,27.112585,138040000.0
2009,AAPL,2010-01-05,214.60,215.59,213.25,214.38,21496600.0,0.0,1.0,27.579091,27.706320,27.405597,27.550818,150476200.0
2010,AAPL,2010-01-04,213.43,214.50,212.38,214.01,17633200.0,0.0,1.0,27.428730,27.566240,27.293790,27.503268,123432400.0

 An adjusted opening/closing price is a stock’s price on any given day of trading that has been revised to include any dividend distributions, stock splits, and other corporate actions that occurred at any time before the next day’s open.

In [34]:
ap_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2011 entries, 0 to 2010
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticker       2011 non-null   object
 1   date         2011 non-null   datetime64[ns]
 2   open         2011 non-null   float64
 3   high         2011 non-null   float64
 4   low          2011 non-null   float64
 5   close        2011 non-null   float64
 6   volume       2011 non-null   float64
 7   ex-dividend  2011 non-null   float64
 8   split_ratio  2011 non-null   float64
 9   adj_open     2011 non-null   float64
 10  adj_high     2011 non-null   float64
 11  adj_low      2011 non-null   float64
 12  adj_close    2011 non-null   float64
 13  adj_volume   2011 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 220.1+ KB

In [35]:
ap_data.describe()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
count,2011.000000,2011.000000,2011.000000,2011.000000,2.011000e+03,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2.011000e+03
mean,292.923278,295.525908,289.955469,292.804628,2.800612e+07,0.015152,1.002984,83.743345,84.445849,82.981024,83.735257,8.586007e+07
std,181.616859,183.228776,179.669571,181.454780,1.919319e+07,0.189891,0.133797,36.717498,36.935365,36.498884,36.731865,6.071514e+07
min,90.000000,90.700000,89.470000,90.280000,5.624800e+06,0.000000,1.000000,24.722226,25.188732,24.449777,24.681102,1.147592e+07
25%,117.945000,119.180000,116.860000,118.240000,1.449355e+07,0.000000,1.000000,52.470567,52.965424,51.782763,52.373834,3.913379e+07
50%,252.360000,254.970000,248.730000,251.890000,2.244650e+07,0.000000,1.000000,78.056795,78.894706,77.456635,78.097920,7.070910e+07
75%,448.160000,452.825000,442.350000,446.970000,3.576620e+07,0.000000,1.000000,109.332627,110.367402,108.196437,109.479269,1.134105e+08
max,702.410000,705.070000,699.570000,702.100000,1.895606e+08,3.290000,7.000000,175.110000,177.200000,174.860000,176.420000,4.702495e+08

# Calculating returns

In [39]:
import numpy as np

In [40]:
daily_close = ap_data[['adj_close']]

In [45]:
# return as fractional change 
daily_return = daily_close.pct_change()*100

In [46]:
# replace NA values with 0 
daily_return.fillna(0, inplace = True)

In [47]:
print(daily_return)

      adj_close
None
0      0.000000
1      1.093187
2     -0.280570
3     -0.017585
4      2.603037
...         ...
2006   0.890010
2007  -0.660440
2008   0.185203
2009   1.616344
2010  -0.172591

[2011 rows x 1 columns]

In [52]:
ap_data.set_index('date').resample('M').mean().head()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
date,,,,,,,,,,,,
2010-01-31,209.409474,211.227568,205.300579,207.715737,2.851315e+07,0.0,1.0,26.912036,27.145687,26.383986,26.694367,1.995920e+08
2010-02-28,198.091842,200.455263,196.322632,198.795000,2.025579e+07,0.0,1.0,25.457563,25.761295,25.230194,25.547928,1.417905e+08
2010-03-31,222.776965,224.680430,221.285217,223.410648,1.887294e+07,0.0,1.0,28.629945,28.874567,28.438235,28.711382,1.321106e+08
2010-04-30,251.013333,253.136667,248.119767,251.148548,2.103253e+07,0.0,1.0,32.258712,32.531590,31.886848,32.276089,1.472277e+08
2010-05-31,251.979905,255.618000,244.823000,251.461200,3.229046e+07,0.0,1.0,32.382930,32.850476,31.463168,32.316269,2.260332e+08

prints the returns the stock has genrating on a daily basis

In [53]:
m_data = ap_data.set_index('date').resample('M').apply(lambda x: x[-1])

,ticker,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
date,,,,,,,,,,,,,
2010-01-31,AAPL,201.0800,202.2000,190.25,192.063,44498300.0,0.0,1.0,25.841583,25.985518,24.449777,24.682772,311488100.0
2010-02-28,AAPL,202.3800,205.1700,202.00,204.620,18123600.0,0.0,1.0,26.008651,26.367205,25.959815,26.296522,126865200.0
2010-03-31,AAPL,235.4900,236.6100,234.46,235.000,15380700.0,0.0,1.0,30.263747,30.407683,30.131378,30.200775,107664900.0
2010-04-30,AAPL,269.3100,270.5700,261.00,261.090,19373700.0,0.0,1.0,34.610089,34.772016,33.542138,33.553704,135615900.0
2010-05-31,AAPL,259.3881,259.4000,253.35,256.880,29129100.0,0.0,1.0,33.334986,33.336515,32.559006,33.012660,203903700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-31,AAPL,163.6400,164.5200,163.48,164.000,26412439.0,0.0,1.0,163.640000,164.520000,163.480000,164.000000,26412439.0
2017-09-30,AAPL,153.2100,154.1300,152.00,154.120,25856530.0,0.0,1.0,153.210000,154.130000,152.000000,154.120000,25856530.0
2017-10-31,AAPL,167.9000,169.6499,166.94,169.040,35474672.0,0.0,1.0,167.900000,169.649900,166.940000,169.040000,35474672.0
2017-11-30,AAPL,170.4300,172.1400,168.44,171.850,40172368.0,0.0,1.0,170.430000,172.140000,168.440000,171.850000,40172368.0
2017-12-31,AAPL,170.5200,170.5900,169.22,169.230,25643711.0,0.0,1.0,170.520000,170.590000,169.220000,169.230000,25643711.0

In [55]:
monthly_return = m_data['adj_close'].pct_change()